<!-- Special Offers -->
    <!-- link to make better cards: https://www.youtube.com/watch?v=E2TW4ZxXrsI&ab_channel=CodingSnow  -->
    <section class="offers">
    <!-- Menu Cards -->
    <!-- row 1 -->
    <!-- card1 -->
    <div class="specialty">
      <div class="container menu-cards">
        <div class="row">
          <div class="col-md-12">
            <h1>Special Offers</h1>
          </div>
        </div>
        <div class="row">
          <div class="box-item col-md-12 col-lg-6">
            <div class="flip-box ">
              <!-- front of box -->
              <div
                class="flip-box-front text-center"
                style="background-image: url('/images/cake-2.jpg')"
              >
              <div class="card-img-overlay bg-danger text-white w-25 px-2 m-2" style="height: 1.5rem;">Sale!</div>
                <div class="inner color-white">
                  <div class="front-header">
                    <h3 class="flip-box-header">German <br> Chocolate Cake</h3>
                  </div>
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
              </div>
              <!-- Back of box -->
              <div
                class="flip-box-back text-center"
                style="background-color: lightblue"
              >
                <div class="inner color-white">
                  <h4 class="flip-box-header">German Chocolate Cake!</h4>
                  <p>
                    Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                    sit amet mauris commodo quis. Proin sed libero enim sed
                    faucibus turpis in eu.
                  </p>
                  <button class="flip-box-button">Order</button>
                </div>
              </div>
            </div>
          </div>
          <!-- card2 -->
          <div class="box-item col-md-12 col-lg-6">
            <div class="flip-box ">
              <div
                class="flip-box-front text-center"
                style="background-image: url('/images/cake-3.jpg')"
              >
              <div class="card-img-overlay bg-danger text-white w-25 px-2 m-2" style="height: 1.5rem;">Sale!</div>

                <div class="inner color-white">
                  <div class="front-header">
                    <h3 class="flip-box-header">Strawberry <br> Shortcake</h3>
                  </div>
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
              </div>
              <div
                class="flip-box-back text-center"
                style="background-color: lightblue"
              >
                <div class="inner color-white">
                  <h3 class="flip-box-header">Strawberry Shortcake!</h3>
                  <p>
                    Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                    sit amet mauris commodo quis. Proin sed libero enim sed
                    faucibus turpis in eu.
                  </p>
                  <button class="flip-box-button">Order</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
    </div>
    
    </div>
    </section>

 <!-- <section id="special-offers">
      <div class="section offers">
        <div class="container">
          <div>
            <h1>Special Offers</h1>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-6">
              <div class="card mx-auto">
                <img src="images/cookie.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title">Chocolate Chip Cookies</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
                    eum similique repellat a laborum.
                  </p>
                  <a href="/order" class="btn btn-outline-success btn-sm"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-6">
              <div class="card mx-auto">
                <img src="images/cupcake.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title">Cupcakes</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
                    eum similique repellat a laborum.
                  </p>
                  <a href="/order" class="btn btn-outline-success btn-sm"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>