
    <%- include('partials/navbar');-%>

<div class="body-position">
  <h1 class="order-header">Custom Order</h1>

  <div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Send Me a Message!</h3>
                    <p>If you're looking for something unique,  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <form class="requires-validation" novalidate>

                        <div class="col-md-12">
                           <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                           <div class="valid-feedback">Username field is valid!</div>
                           <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                        </div>
                  

                       <div class="col-md-12">
                        <div class="mb-3">
                          <textarea class="form-control" id="customerMessage" rows="3" placeholder="Write your message here!"></textarea>
                        </div>
                       </div>

                       <div class="col-md-12">
                        <div class="mb-3">
                          <label for="formFileMultiple" class="form-label">Reference Images:</label>
                          <input class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>
                      </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






















<!-- <div class="custom-order container">
  <div class="col-sm-6 order">
    <form>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="customer-name"
          placeholder="Your Name"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="customer-email"
          placeholder="Your Email"
        />
      </div>
      <div class="form-group">
        <textarea
          class="form-control"
          id="customer-message"
          rows="3"
          placeholder="Type Message"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-light">Send</button>
    </form>
  </div>
  </form>
</div> -->





      
    <!-- footer -->
    <!-- Example at bottom of this page: https://bellaria.cwsthemes.com/home-shop/# -->
    <footer>
      <div class="footer section fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="">
              <h1>My Contacts</h1>
              <div>
                <p><i class="bx bxs-phone"></i>(305) 333-5522</p>
                <p><i class="bx bxs-envelope"></i> MeowMeow@gmail.com</p>
              </div>
              <div class="social-icons">
                <a href="https://www.facebook.com/"
                  ><i class="bx bxl-facebook"></i
                ></a>
                <a href="https://www.pinterest.com/"
                  ><i class="bx bxl-pinterest"></i
                ></a>
                <a href="https://www.instagram.com/"
                  ><i class="bx bxl-instagram-alt"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
