    <!-- navbar -->
    <%- include('partials/navbar');-%>



    <!-- cakes section -->
    <section class="menu">
      <div class="menu-header">
        <h1 class="">Menu</h1>
      </div>
    <!-- Menu Cards -->
    <!-- row 1 -->
    <!-- card1 -->
    <div class="container menu-cards">
      <h3 class="menu-title">Cakes</h3>
      <div class="row">
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <!-- front of box -->
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cake-2.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">German <br> Chocolate Cake</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <!-- Back of box -->
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h4 class="flip-box-header">German Chocolate Cake!</h4>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
        <!-- card2 -->
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cake-3.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">Strawberry <br> Shortcake</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h3 class="flip-box-header">Strawberry Shortcake!</h3>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
        <!-- card3 -->
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/carrot-cake.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">Carrot Cake</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h3 class="flip-box-header">Carrot Cake!</h3>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- row 2 -->
    <!-- card1 -->
    <div class="container menu-cards">
      <div class="row">
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <!-- front of box -->
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cake-3.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">German <br> Chocolate Cake</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <!-- Back of box -->
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h4 class="flip-box-header">German Chocolate Cake!</h4>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
        <!-- card2 -->
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cake-slice.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">Strawberry <br> Shortcake</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h3 class="flip-box-header">Strawberry Shortcake!</h3>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
        <!-- card3 -->
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cake.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">Carrot Cake</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h3 class="flip-box-header">Carrot Cake!</h3>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- row 3 -->
    <!-- card1 -->
    <div class="container menu-cards">
      <div class="row">
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <!-- front of box -->
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cake-5.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header"> Chocolate<br> Truffle Cake</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <!-- Back of box -->
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h4 class="flip-box-header">German Chocolate Cake!</h4>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
        <!-- card2 -->
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cake-8.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">Lemon Cake</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h3 class="flip-box-header">Strawberry Shortcake!</h3>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
        <!-- card3 -->
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cake-7.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">White Cake</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h3 class="flip-box-header">Carrot Cake!</h3>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
    
  <!-- Cookies -->
  <section class="menu">
    <div class="container menu-cards">
      <h3 class="menu-title">Cookies</h3>
      <div class="row">
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <!-- front of box -->
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cookie.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">Chocolate Chipe <br>Cookies</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <!-- Back of box -->
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h4 class="flip-box-header">German Chocolate Cake!</h4>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
        <!-- card2 -->
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cookie-2.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">Oatmeal Raisin <br> Cookies</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h3 class="flip-box-header">Strawberry Shortcake!</h3>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
        <!-- card3 -->
        <div class="box-item col-md-12 col-lg-4">
          <div class="flip-box mx-auto">
            <div
              class="flip-box-front text-center"
              style="background-image: url('/images/cookie-3.jpg')"
            >
              <div class="inner color-white">
                <div class="front-header">
                  <h3 class="flip-box-header">Christmas Cookies</h3>
                </div>
                <i class="bx bx-right-arrow-circle"></i>
              </div>
            </div>
            <div
              class="flip-box-back text-center"
              style="background-color: lightblue"
            >
              <div class="inner color-white">
                <h3 class="flip-box-header">Carrot Cake!</h3>
                <p>
                  Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                  sit amet mauris commodo quis. Proin sed libero enim sed
                  faucibus turpis in eu.
                </p>
                <button class="flip-box-button">Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>

    <!-- Cupcakes -->
    <section class="menu">
      <div class="container menu-cards">
        <h3 class="menu-title">Cupcakes</h3>
        <div class="row">
          <div class="box-item col-md-12 col-lg-4">
            <div class="flip-box mx-auto">
              <!-- front of box -->
              <div
                class="flip-box-front text-center"
                style="background-image: url('/images/cupcake.jpg')"
              >
                <div class="inner color-white">
                  <div class="front-header">
                    <h3 class="flip-box-header">German <br> Chocolate Cake</h3>
                  </div>
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
              </div>
              <!-- Back of box -->
              <div
                class="flip-box-back text-center"
                style="background-color: lightblue"
              >
                <div class="inner color-white">
                  <h4 class="flip-box-header">German Chocolate Cake!</h4>
                  <p>
                    Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                    sit amet mauris commodo quis. Proin sed libero enim sed
                    faucibus turpis in eu.
                  </p>
                  <button class="flip-box-button">Order</button>
                </div>
              </div>
            </div>
          </div>
          <!-- card2 -->
          <div class="box-item col-md-12 col-lg-4">
            <div class="flip-box mx-auto">
              <div
                class="flip-box-front text-center"
                style="background-image: url('/images/cupcake-2.jpg')"
              >
                <div class="inner color-white">
                  <div class="front-header">
                    <h3 class="flip-box-header">Strawberry <br> Shortcake</h3>
                  </div>
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
              </div>
              <div
                class="flip-box-back text-center"
                style="background-color: lightblue"
              >
                <div class="inner color-white">
                  <h3 class="flip-box-header">Strawberry Shortcake!</h3>
                  <p>
                    Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                    sit amet mauris commodo quis. Proin sed libero enim sed
                    faucibus turpis in eu.
                  </p>
                  <button class="flip-box-button">Order</button>
                </div>
              </div>
            </div>
          </div>
          <!-- card3 -->
          <div class="box-item col-md-12 col-lg-4">
            <div class="flip-box mx-auto">
              <div
                class="flip-box-front text-center"
                style="background-image: url('/images/cupcake-3.jpg')"
              >
                <div class="inner color-white">
                  <div class="front-header">
                    <h3 class="flip-box-header">Rasberry Cupcake</h3>
                  </div>
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
              </div>
              <div
                class="flip-box-back text-center"
                style="background-color: lightblue"
              >
                <div class="inner color-white">
                  <h3 class="flip-box-header">Carrot Cake!</h3>
                  <p>
                    Lectus magna fringilla urna porttitor. Elit sed vulputate mi
                    sit amet mauris commodo quis. Proin sed libero enim sed
                    faucibus turpis in eu.
                  </p>
                  <button class="flip-box-button">Order</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </section>
    

    

  </body>
  <footer>
    <%- include('partials/footer')-%>
  </footer>
</html>
